{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block metadescription %}
	This is the shopping cart page. Proceed to review your items and place the order.
{% endblock %}
{% block title %}
	Cart - The Perfect Cushion Store
{% endblock %}
{% block content %}
	{% if not cart_items %}
		<div>
			<div class="text-center">
				<br>
				<h1 class="text-center my_title">
					Your shopping cart is empty
				</h1>
				<br>
				<p class="text-center">
					Please click <a href="{% url 'shop:allProdCat' %}">here</a> to continue shopping.
				</p>
			</div>
		</div>
	{% else %}
		<div>
			<div class="text-center">
				<br>
				<h1 class="text-center my_title">
					Your shopping cart
				</h1>
				<br>
			</div>
		</div>
		<div class="row mx-auto">
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
				<table class="table my_custom_table">
					<thead class="my_custom_thead">
						<tr>
							<th colspan="5">
								Your items
							</th>
						</tr>
					</thead>
					<tbody>
						{% for cart_item in cart_items %}
						<tr>
							<td>
								<a href="{{ cart_item.product.get_url }}"><img src="{{ cart_item.product.image.url }}" alt="" class="float-left rounded custom_image"></a>
							</td>
							<td class="text-left">
								{{ cart_item.product.name }}
									<br>
									SKU: {{ cart_item.product.id }}
								{% if cart_item.discount %}
									<br>
									Unit Price: <s style="color: red">${{ cart_item.price }}</s>&nbsp;&nbsp;{{ cart_item.discount }}% off
									<br>
									Discount Price: ${{ cart_item.discountPrice }}
								{% else %}
									<br>
									Unit Price: ${{ cart_item.product.price }}
								{% endif %}
									<br>
									Qty: {{ cart_item.quantity }} x ${{ cart_item.discountPrice }}
							</td>
							<td>
								${{ cart_item.sub_total }}
							</td>
							{% if cart_item.quantity < cart_item.product.stock %}
								<td>
									<a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"><i class="fas fa-plus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
								</td>
							{% else %}
								<td>
									&nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
								</td>
								<td></td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>	
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
				<table class="table my_custom_table">
					<thead class="my_custom_thead">
						<tr>
							<th>
								Cart Subtotal
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								Please review your shopping cart items before proceeding with the order.
							</td>
						</tr>
						<tr>
							<td class="text-right">
								<strong>${{ total }}</strong>
							</td>
						</tr>
						<tr>
							<td class="text-right">
								Subtotal:&nbsp;&nbsp;<strong>${{ subtotal }}</strong>
							</td>
						</tr>
					</tbody>
				</table>
			<div class="mx-auto">
				<form action="{% url 'coupon:apply' %}" method="post">
					{% csrf_token %}
					<p style="text-align: right">{{ coupon_apply_form }}</p>
					{% if messages %}
						{% for message in messages %}
						<p style="color:red; text-align: right"><small>{{ message }}</small></p>     
						{% endfor %}
					{% endif %}
					<button type="submit" class="btn btn-secondary btn-block my_custom_button">Apply Promotion</button>
				</form>
				<a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>
				<a href="{% url 'cart:checkout' %}" class="btn btn-secondary btn-block my_custom_button" style="color: #9ef7f4">Proceed To Checkout</a>
			</div>
		</div>
		<br>
	{% endif %}
{% endblock %}
